body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: white;
  text-align: center;
}

.container {
  padding: 20px;
}

.profile-card {
  background: linear-gradient(145deg, #1e1eff, #2b2bff);
  border-radius: 20px;
  padding: 30px 20px;
  color: white;
  margin-bottom: 20px;
}

.logo {
  width: 100px;
  border-radius: 50%;
}

.social-icons img {
  width: 30px;
  margin: 5px;
}

.buttons {
  margin: 20px 0;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.section {
  margin-top: 30px;
  text-align: left;
  padding: 10px;
}

.box {
  background-color: #f0f4ff;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}
